<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style-homepage.css">
    <%- include('./partials/head') %>
    <title>Travel Application</title>
</head>
<body>
    <nav>
        <%- include('./partials/nav') %>
    </nav>
        <h1>Welcome to the Travel Application</h1>
        <p>Plan and organize your trip in one location.</p>
        <%- include('./partials/footer') %>
</body>
</html>