<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations</title>
</head>
<body>
    <nav>
        <a href="/locations/new">Add a New Location</a>
    </nav>
    <h1>Places to Travel</h1>
    <div>
        <% locations.forEach(location => { %>
            <div>
               <a href="/locations/<%= location._id %>"><img src="<%= location.img %>" alt="Image of <%= location.name %>" width="250px" height="250px"></a> 
                <p><%= location.name %></p>
            </div>
       <% } ) %>
    </div>
</body>
</html>