<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/style-sign-in-up-out.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/" class="btn btn-link">Return to Homepage</a>
    </nav>
    <h1>Login to Travel Application</h1>
    <form action="/login" method="POST">
        <% if(error) { %>
            <p><%= error%></p>
       <% } %>
        <label>Email:<input type="email" name="email" required value="dan@email.com"></label>
        <label>Password: <input type="password" name="password" required value="123"></label>
        <label><input type="submit" value="Login"></label>
    </form>
    <%- include('./partials/footer') %>
</body>
</html>