<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Document</title>
</head>
<body>
    <h1>Login to Travel Application</h1>
    <form action="/login" method="POST">
        <p>Email:<input type="email" name="email" required></p>
        <p>Password: <input type="password" name="password" required></p>
        <input type="submit" value="Login">
    </form>
</body>
</html>