<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Location</title>
</head>
<body>
    <h1>Add a New location</h1>
    <form action="/locations" method="POST">
       <p>Name of Location: <input type="text" name="name" ></p>
       <p>Picture of location: <input type="text" name="img"></p>
       <p>Name of Hotel: <input type="text" name="hotel"></p>
       <p>Description of location: <input type="text" name="description"></p>
       <p>Attractions you want to visit: <input type="text" name="attractions"></p>
       <input type="submit" name="Add your location">
    </form>
</body>
</html>