<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/style-new.css">
    <title>Add a New Location</title>
</head>
<body>
    <nav>
        <a href="/locations"><button class="btn ">Return to Locations</button></a>
    </nav>
    <h1>Add a New location</h1>
    <form action="/locations" method="POST">
       <p>Name of Location: <input type="text" name="name" ></p>
       <p>Picture of location: <input type="text" name="img"></p>
       <p>Name of the Hotel: <input type="text" name="hotel"></p>
       <p>Describe Location: <input type="text" name="description"></p>
       <p>Attractions to visit: <input type="text" name="attractions"></p>
       <p>Date: <input type="text" name="date"> Plans for this day? <input type="text" name="travelPlan" ></p>
       <div>
           <input type="submit" name="Add your location" class="btn">
       </div>
    </form>
    <%- include('./partials/footer') %>
</body>
</html>