<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Travel Plans</title>
</head>
<body>
    <nav>
        <!-- <%- include('./partials/nav') %> -->
    </nav>
    <h1>Viewing Plans For:</h1>


    <%- include('./partials/footer') %>
</body>
</html>