<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Create an Account</title>
</head>
<body>
    <h1>Sign Up Here</h1>
    <form action="/signup" method="POST">
        <label>Email: <input type="text" name="email"></label>
        <label>First Name:<input type="text" name="firstName"></label>
        <label>Last Name:<input type="text" name="lastName"></label>
        <label>Password: <input type="password" name="password"></label>
        <label>Confirm Password:<input type="password" name="confirmPass"></label>
        <input type="submit" value="Complete Sign Up">
    </form>
</body>
</html>