
body {
    display: flex;
    flex-direction: column;
    background: url('https://images.pexels.com/photos/163185/old-retro-antique-vintage-163185.jpeg?auto=compress&cs=tinysrgb&w=900') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    color: black

}

form {
    display: flex;
    flex-direction: column;
    margin-top: 310px;  
    margin-right: 270px;
    text-align: center;
}

.btn-link {
    color: rgb(21, 132, 223);
    margin-left: 15px;
}

p {
    color: red;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    text-align: center;
    color: antiquewhite;
}


