nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px 16px;
    background-color: rgb(227, 225, 218);
}

h1 {
    font-family: Helvetica, Arial;
    text-align: center;
}

img {
    width: 400px;
    height: 400px;
}

p {
    margin-top: 15px;
}

input{
    margin-right: 25px;
    width: 100px;
}

.save {
    margin-left: 10px;
}

.location-div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding: 30px 0px 30px 0px;
}

.location {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.links {
    width: 400px;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    justify-content: space-between;
}

.edit{
    color: black;
    margin-right: 50px;
}

svg {
    position: absolute;
    right: 10px;
    top: 15px;
    height: 24px;
    width: 24px;
    margin-bottom: 15px;
}

.footer{
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    font-size: 10px;
    text-align: center;
}

.logout {
    position: absolute;
    right: 30px;
    top: 10px;
    opacity: 0;
}

.edit {
    background-color: #6366f1;
    color: white;
}