
body {
    background: url('https://images.pexels.com/photos/2739013/pexels-photo-2739013.jpeg?auto=compress&cs=tinysrgb&w=900') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    font-size: 22px;
    margin: 30px 0 0 10px;
    color: rgb(21, 132, 223);
    text-align: center;
}

a {
    margin: 0 10px 0 10px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    right: 400px;
    color: grey ;
}