
h1 {
    text-align: center;
}

form {
    text-align: center;
}

div {
    text-align: center;
}

img {
    width: 350px;
    height: 300px;
}

p {
    margin-top: 15px;
    margin-left: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input {
    margin-left: 10px;
    align-items: right;
    width: 200px;
}

.describe {
    margin-left: 0;
    width: 180px;
}

.hotel {
margin-left: 0;
width: 210px;
}

.attractions {
    width: 180px;
}

.footer {
    bottom: 0;
    width: 100%;
    font-size: 8px;
    text-align: center;
}

svg {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 24px;
    width: 24px;
}

nav {
    background-color: rgb(227, 225, 218);
}

.logout {
    position: absolute;
    right: 30px;
    opacity: 0;
}

.submit {
    background-color: #6366f1;
    color: white;
}