
body {
    text-align: center;
    background: url('https://images.pexels.com/photos/2325446/pexels-photo-2325446.jpeg?auto=compress&cs=tinysrgb&w=1000') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

p {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

nav {
    text-align: left;
    height: 50px;
    padding-top: 5px;
    padding-left: 10px;
    color: rgb(21, 132, 223);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 8px;
}

svg {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 24px;
    width: 24px;
}

.logout {
    position: absolute;
    right: 30px;
    top: 5px;
    opacity: 0;
}

.submit {
    background-color: #6366f1;
    color: white;
    width: 150px;
}