body {
    background: url('https://images.pexels.com/photos/12969338/pexels-photo-12969338.jpeg?auto=compress&cs=tinysrgb&w=1000') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    color: black;
}

form {
    text-align: center;
}

div {
    text-align: center;
}

img {
    width: 350px;
    height: 300px;
}

p {
    margin-top: 15px;
    margin-left: 15px;
    color: rgb(21, 132, 223);
    font-size: 16px;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input {
    margin-left: 10px;
    align-items: right;
    width: 200px;
    color: black;
    font-weight: normal;
}

.describe {
    margin-left: 0;
    width: 180px;
}

.hotel {
margin-left: 0;
width: 210px;
}

.attractions {
    width: 180px;
}

.footer {
    bottom: 0;
    width: 100%;
    font-size: 8px;
    text-align: center;
    color: black;
}

svg {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 24px;
    width: 24px;
}

nav {
    color: rgb(21, 132, 223);
}

.logout {
    position: absolute;
    right: 30px;
    opacity: 0;
}

.submit {
    background-color: #6366f1;
    color: white;
    font-weight: 400;
}