/* Css for saved page */
h1 {

    text-align: center;
}

nav{
    text-align: left;
    background-color: rgb(227, 225, 218);
    height: 50px;
    padding-top: 5px;
    padding-left: 10px;
}

svg {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 24px;
    width: 24px;
}
div{
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
}

.logout {
    position: absolute;
    right: 30px;
    top: 5px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
}